---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Nuestras Donas">
	<main>
		<Header></Header> 

        <h1 class="text-green-600">Hola! Soy los Contactos</h1>

	</main>
</Layout>