---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Launches from '../components/Launches.astro';
---

<Layout title="SpaceX Launches">
	<h1 class="text-green-600">Hola! Soy el index</h1>

	<Launches />
</Layout>