---
import HeaderButton from "./HeaderButton.astro"

console.log('javascript')
---

<header class="py-8 px-4 mx-auto max-w-xl lg:px-6">
    <div class="mx-auto text-center lg:mb-16">
        <h1 class="mb-9 text-6xl text-white text-center font-bold"> <a href="/">SpaceX Launches 🚀</a></h1>
        
        <h3 class="text-2xl text-white text-center font-mono">Esta es una zona que muestra<br> 
            <span class="animate-rainbow">cohetes de SpaceX</span>
             
        </h3>
        
        <nav class="flex flex-col text-center items-center justify-between w-full md:flex-row font-mono mt-9 ">
            <HeaderButton href="Lanzamientos">
                <svg  slot="before"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15.5 18.5l-3 1.5l.5 -3.5l-2 -2l3 -.5l1.5 -3l1.5 3l3 .5l-2 2l.5 3.5z" /><path d="M4 4l7 7" /><path d="M9 4l3.5 3.5" /><path d="M4 9l3.5 3.5" /></svg>

                Últimos lanzamientos
            </HeaderButton>
            <HeaderButton href="Viejos">
                <svg  slot="before" width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M20.984 12.535a9 9 0 1 0 -8.431 8.448" /><path d="M12 7v5l3 3" /><path d="M19 16v6" /><path d="M22 19l-3 3l-3 -3" /></svg>

                Los más viejos
            </HeaderButton>
            <HeaderButton href="about">
                <svg  slot="before"
                width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" /><path d="M12 9h.01" /><path d="M11 12h1v4h1" /></svg>
                
                Sobre el proyecto
            </HeaderButton>
        </nav>
    </div>

    
    
</header>