---
console.log('javascript')
---

<header class="py-8 px-4 mx-auto max-w-xl lg:px-6">

    <h1 class="text-6xl text-white text-center font-bold">Tienda de Donas</h1>
    <h3 class="mt-3 text-2xl text-white text-center font-mono">Esta es una tienda online que vende donas</h3>
    <nav class="flex flex-col text-center items-center justify-between w-full md:flex-row font-mono mt-9 ">
        <a class="bg-slate-600 text-white text-sm max-md:mt-2" href="#">Nuestras donas</a>
        <a class="bg-slate-600 text-white text-sm max-md:mt-2" href="#">¿Quiénes somos?</a>
        <a class="bg-slate-600 text-white text-sm max-md:mt-2" href="#">Contáctenos</a>
    </nav>
    
</header>